includedir=@CMAKE_INSTALL_PREFIX@/@CMAKE_INSTALL_INCLUDEDIR@/{{repo_name}}
libdir=@CMAKE_INSTALL_PREFIX@/@CMAKE_INSTALL_LIBDIR@

Name: {{repo_name}}
Description: {{repo_name}}
Version: @PROJECT_VERSION@
Cflags: -I${includedir}
Libs: -L${libdir} -l{{repo_name}}

