#define {{repo_name | upper }}_VERSION "@PROJECT_VERSION@"
#define {{repo_name | upper }}_MAJOR_VERSION @PROJECT_VERSION_MAJOR@
#define {{repo_name | upper }}_MINOR_VERSION @PROJECT_VERSION_MINOR@
#define {{repo_name | upper }}_PATCH_VERSION @PROJECT_VERSION_PATCH@
